    <div class="wrapper">
        <div class="sidebar-wrapper">
            <div class="profile-container">
                <img class="profile" src="assets/images/profile.png" alt="" />
                <h1 class="name">Zach & Katie's Wedding</h1>
                <h3 class="tagline">October 27th, 2018</h3>
            </div><!--//profile-container-->

            <div class="contact-container container-block">
                <ul class="list-unstyled contact-list">
                    <h2 class="container-block-title">Groom Information</h2>
                    <li class="email"><i class="fa fa-envelope"></i><a href="mailto: alexander.d.zachary@gmail.com">Zach's E-mail</a></li>
                    <li class="phone"><i class="fa fa-phone"></i><a href="tel:410-790-0174">Zach's Phone Number</a></li>
                </ul>
            </div><!--//contact-container-->
            <div class="contact-container container-block">
                <ul class="list-unstyled contact-list">
                    <h2 class="container-block-title">Best Men Information</h2>
                    <hr>
                    <h4 class="degree">Nick Alexander</h4>
                    <hr>
                    <li class="email">
                        <i class="fa fa-envelope"></i>
                        <a href="mailto: nicholas.alexander6@gmail.com">Nick's Email</a>
                    </li>
                    <li class="phone">
                        <i class="fa fa-phone"></i>
                        <a href="tel:4915127522514">Nick's Phone Number</a>
                    </li>
                    <hr>
                    <h4 class="degree">Jake Alexander</h4>
                    <hr>
                    <li class="email">
                        <i class="fa fa-envelope"></i>
                        <a href="mailto: nicholas.alexander6@gmail.com">Jake's Email</a>
                    </li>
                    <li class="phone">
                        <i class="fa fa-phone"></i>
                        <a href="tel:4435671788">Jake's Phone Number</a>
                    </li>
                </ul>
            </div>
            <!--//contact-container-->
            <div class="contact-container container-block">
                <ul class="list-unstyled contact-list">
                    <h2 class="container-block-title">Wedding Planner Information</h2>
                    <hr>
                    <h4 class="degree">Valerie Zarrella</h4>
                    <hr>
                    <li class="email">
                        <i class="fa fa-envelope"></i>
                        <a href="mailto: valerie@visitbearmountain.com">Valerie's Email</a>
                    </li>
                    <li class="phone">
                        <i class="fa fa-phone"></i>
                        <a href="tel:845-786-2731">Valerie's Phone Number (ext. 1020)</a>
                    </li>
                </ul>
            </div>
            <!--//contact-container-->
        </div><!--//sidebar-wrapper-->

        <div class="main-wrapper">

            <section class="section summary-section">
                <h2 class="section-title"><i class="fa fa-thumbs-up"></i>Thank You for Being in our Wedding</h2>
                <hr>
                <div class="summary">
                    <p class="resume-bold"> Hey groomsmen and father of the groom! First and foremost, Katie and I would like to thank you all for being a part of our wedding.
                    You’ve all had such a positive impact on our lives and we couldn’t think of a better group of guys to have by our side on the big day! <br><br>
                    
                    This page will hopefully provide useful information to you about the suit rental information and a tentative schedule for the rehearsal dinner.</p> 
                    
                    <div class="alert alert-danger">I recognize there's a lot of information here, 
                    so if you don’t have a lot of time, I’d really just recommend reading through the suit rental
                    information for now, given that this may take a bit of time to work through. </div>

                    <p class="resume-bold">As a quick aside to the actual logistics of
                    the weekend, my brothers, Nick and Jake Alexander are going to be co-best men of the wedding. So, if you have specific questions
                    that would be easier to coordinate through them, feel free to reach out separately. But of course, you can always reach out to me if that's easier! All of our contact information is available on this page.</p>
                </div><!--//summary-->
            </section><!--//section-->

            <section class="section experiences-section">
                <h2 class="section-title"><i class="fa fa-black-tie"></i>Suit Rental and Attire Information</h2>
                <hr>
                <div class="company"><a class="company-header" href="https://theblacktux.com/" target="_blank">The Black Tux</a></div>
                <div class="item">
                    <div class="details">
                        <p>After a lot of research and discussion with multiple suit/tuxedo rental places, I’ve decided to go with
                            <a href="https://theblacktux.com/" target="_blank">The Black Tux</a> as the suit rental company of choice for the wedding.<br> 
                            <br/>I did this for a couple of reasons:</p>
                        <ul class="fa-ul">
                            <li><i class="fa-li fa fa-angle-right"></i>Since people are living on different parts of the globe, I thought having a company with a strong online presence would be beneficial.</li>
                            <li><i class="fa-li fa fa-angle-right"></i>They have multiple locations at Nordstrom outlet stores around the U.S., just in case you prefer to go to the store for a fitting.</li>
                            <li><i class="fa-li fa fa-angle-right"></i>I did a "home try-on" already and the suit felt well-made and the price for the rental was quite reasonable (relatively speaking).</li>
                        </ul>
                        <br>
                        <div class="alert alert-danger">
                                All of this to say, if there are issues with your order, or if you are on a tight financial budget, please
                                do reach out to me. The only thing that really matters is that we are all together, NOT what we are wearing.
                        </div>
                        <br>
                <div class="company"><a class="company-header" href="https://theblacktux.com/" target="_blank">Suit, Vest and Tie Rental Instructions for You</a></div>
                            <p>Please find your name below and read through the customized information for you.</p>
                    
                <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingOne">
                            <h4 class="panel-title">
                                <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                                    Nick (International Orders)
                                </a>
                            </h4>
                        </div>
                        <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                            <div class="panel-body">
                            Hey man,<br><br>
                            As we discussed a little while back, it looks like the only option for international orders are to do a "home try-on".
                            They should be able to ship the suit out to you to try on once you submit your measurements online. Let me know if you run
                            into any trouble and we can work through it together!<br><br>

                            I believe the "home try-on" option will be available through the e-mail that they send along to you that contains the "look" profile.
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingTwo">
                            <h4 class="panel-title">
                                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="true"
                                    aria-controls="collapseTwo">
                                    Jake, Anthony and Mike (Maryland Orders)
                                </a>
                            </h4>
                        </div>
                        <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                            <div class="panel-body">
                            Hello to the MD crew!<br><br>
                            You'll receive an e-mail that provides the suit, vest, and tie ("look") information and pricing to rent for the wedding. Once you receive the e-mail you'll have two options: 1) Go to the
                            store closest to you and try it on there. Or, 2) You can use the "home try-on option", to have the suit mailed to you based on the measurements
                            that you provide.<br><br>
                            If you'd prefer to go to the store for a fitting, you can find the company at the following locations:
                            <br><br><img src='../assets/images/md_locations.png'><br><br>
                            <p>You'll have to book an appointment through their website.</p><br>
                            <p>If you'd like to do the home try-on option, there may be a link in the e-mail provided, or you can schedule this through
                                their website. Please reach out to me if you have any trouble.
                            </p>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingThree">
                            <h4 class="panel-title">
                                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false"
                                    aria-controls="collapseThree">
                                    Luke (Colorado Orders)
                                </a>
                            </h4>
                        </div>
                        <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
                            <div class="panel-body">
                            Luke!<br><br>
                            You'll receive an e-mail that provides the suit, vest, and tie ("look") information and pricing to rent for the wedding. Once you receive the e-mail
                            you'll have two options: 1) Go to the store closest to you and try it on there. Or, 2) You can use the "home try-on option",
                            to have the suit mailed to you based on the measurements that you provide.
                            <br>
                            <br>
                            If you'd prefer to go to the store for a fitting, you can find the company at the following locations:
                            <br><br><img src='../assets/images/co_location.png'><br><br>
                            <p>You'll have to book an appointment through their website.</p><br>
                            <p>If you'd like to do the home try-on option, there may be a link in the e-mail provided, or you can schedule this through
                                their website. Please reach out to me if you have any trouble.
                            </p>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingFour">
                            <h4 class="panel-title">
                                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFour" aria-expanded="false"
                                    aria-controls="collapseThree">
                                    Jake and John (Massachusetts Orders)
                                </a>
                            </h4>
                        </div>
                        <div id="collapseFour" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFour">
                            <div class="panel-body">
                            Hey guys!<br><br>
                            You'll receive an e-mail that provides the suit, vest, and tie ("look") information and pricing to rent for the wedding. Once you receive the e-mail
                            you'll have two options: 1) Go to the store closest to you (sorry that it's the Natick Mall) and try it on there. Or, 2) You can use the "home try-on option",
                            to have the suit mailed to you based on the measurements that you provide.
                            <br>
                            <br>
                            If you'd prefer to go to the store for a fitting, you can find the company at the following locations:
                            <br><br><img src='../assets/images/ma_location.png'><br><br>
                            <p>You'll have to book an appointment through their website.</p><br>
                            <p>If you'd like to do the home try-on option, there may be a link in the e-mail provided, or you can schedule this through their website.
                                Please reach out to me if you have any trouble.
                            </p>
                            </div>
                        </div>
                    </div>
                    <br>
                    <br>
                    <div class="company">
                        <a class="company-header" href="https://theblacktux.com/" target="_blank">Dress Shirt and Shoes</a> 
                    </div>
                    <strong>Plain White Dress Shirt: </strong>Feel free to wear a plain white button-down dress shirt that you either own or can buy for cheap. An example can be found
                    <a href="https://www.macys.com/shop/product/van-heusen-mens-classic-fit-wrinkle-free-flex-collar-stretch-solid-dress-shirt?ID=4387276&CategoryID=20635&swatchColor=White#fn=COLOR%3DWhite%26SIZE%3D%26sp%3D1%26spc%3D141%26ruleId%3D89%7CBOOST%20ATTRIBUTE%7CBOOST%20SAVED%20SET%26searchPass%3DmatchNone%26slotId%3D4" target="_blank">here (filter to white shirt)</a>. 
                    <br><br><strong>Formal Brown Dress Shoes: </strong>It would be great if everyone could wear formal brown shoes with the suit, just to be consistent for photos. Any variation of brown is totally fine with me. An example can be
                    found <a href="https://www.macys.com/shop/product/stacy-adams-atwell-perforated-detail-shoes?ID=810906&pla_country=US&CAGPSPN=pla&CAWELAID=120156340000340893&CAAGID=18454641512&CATCI=aud-374536321149:pla-378051322220&CATARGETID=120156340018163305&cadevice=c&cm_mmc=Google_Mens_Shoes_PLA-_-Mens+Shoes_Stacy+Adams+-+GS_Stacy+Adams-_-68330833712-_-pg1880236_c_kclickid_70f8f76c-3c0f-4298-95dc-0f7e40631738&trackingid=474x1880236&gclid=CjwKCAjw4avaBRBPEiwA_ZetYotBTpGQXwIVr8MQyz46sCViPnQXiC_5AX_EQ27kSCiZ3MuBrzB0mRoCcmwQAvD_BwE" target="_blank">here (select the brown color)</a>. 
                    <br><br>
                    <strong>The Black Tux offers both options to rent: </strong>If you'd prefer to just rent both of these items through the Black Tux, you can find the information here:<br>
                    <br>
                    <ul class="fa-ul">
                        <li><i class="fa-li fa fa-angle-right"></i><a href="https://theblacktux.com/collection/shirts/white-dress-shirt" target="_blank">The Black Tux White Dress Shirt to rent</a>
                        <li><i class="fa-li fa fa-angle-right"></i><a href="https://theblacktux.com/collection/shoes/brown-leather-shoes" target="_blank">The Black Tux Brown Dress Shoes to rent</a>
                    </ul>
                    If you do decide to rent these items through The Black Tux, I would ask to just add it to your order.
                    <br>
                    <br>                    
                    <div class="alert alert-danger">Again, please do not feel obligated to go out and buy/rent a pair of brown shoes, or a white shirt if it is not within your budget. Please reach out to me, we can always find alternatives! (i.e. borrow these items from others)
                    </div>
                </div>                
            </div><!--//details-->
        </div><!--//item-->
    </section><!--//section-->

            <section class="section projects-section">
                <h2 class="section-title"><i class="fa fa-cutlery"></i>Rehearsal Dinner Information</h2>
                <hr>
                <div class="company"><a class="company-header" href="https://visitbearmountain.com/accommodations/inn/" target="_blank">Location: Appalachian Ballroom at Bear Mountain Inn</a></div>
                <div class="company">
                    <a class="company-header" href="#" target="_blank">Date: Friday, October 26th, 2018</a>
                </div>
                <div class="company"><a class="company-header" href="#" target="_blank">Time: Please arrive by 4:30PM</a></div>
                <div class="company">
                    <a class="company-header" href="#" target="_blank">Attire: Casual Dress (feel free to wear whatever you want!)</a>
                </div>

                <div class="item">
                    <p>At the dinner we’ll enjoy a complimentary buffet and drinks with close family members and friends
                    while doing a quick walkthrough of the ceremony with Valarie (our wedding coordinator). The walkthrough will start at 5PM.
                    You are more than welcome to bring your significant other(s) with you to the rehearsal dinner if you’d like! It’ll be a pretty
                    informal affair and should last a few hours.</p>
                </div><!--//item-->
            </section>  


        </div><!--//main-body-->
    </div>
